@font-face{
    font-family: SpaceGrotesk;
    src: url(data/SpaceGrotesk-Medium.ttf);
}

body { 
    padding: 0; 
    margin: 0; 
    font-family: "SpaceGrotesk", "Arial", san-serif;
    overflow: hidden;
    
}

p{
    font-size: 48px;
    user-select: none;
}

.center{
    display:flex;
    position:absolute;
    flex-wrap: nowrap;
    justify-content: center;
    top:50%;
    left:50%;
    transform: translate(-50%, -50%);
    width: 25%;
    height: 25%;
}


.middle{
    position: fixed;
    top:50%;
    text-align: center;
    line-height: 48px;
}
